body {
	background-image: url(./bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	object-fit: cover;
	font-family: 'Poppins', sans-serif;
}

.container {
	position: relative;
	max-width: 460px;
	border-radius: 20px;
	margin: 220px auto;
	padding: 20px;
	user-select: none;
	background-color: transparent;
	border: 1px solid #fff;
	overflow: hidden;
	z-index: 10;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	inset: 0;
	background-color: rgba(248, 114, 203, 0.521);
	border-radius: inherit;
	z-index: -1;
	filter: blur(20px);
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
	color: #fff;
}

.song-img {
	animation: rotate 3s infinite linear;
}

.song-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.song-img {
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	overflow: hidden;
	width: 100px;
	height: 100px;
	border-radius: 100rem;
}

.song-title {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
}

.timer input {
	width: 100%;
	cursor: pointer;
	margin: 20px auto;
}

.time-music {
	display: flex;
	justify-content: space-between;
}

.duration,
.remaining {
	font-size: 14px;
	font-weight: 400;
	color: #fff;
}

.control-bar {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-top: 20px;
	padding-bottom: 10px;
}

.play-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 100rem;
	background-color: white;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.active {
	color: red;
}

.btn:hover {
	cursor: pointer;
}
